<div class="container mx-auto mt-8" style="width: 80%;">
  <div class="bg-white shadow-xl rounded-3xl p-8">
    <h1 class="text-3xl font-bold mb-6">Notifications</h1>
    <div class="space-y-4">
      <% @notifications.each do |notification| %>
        <div class="p-4 bg-gray-100 rounded-md shadow flex justify-between items-center <%= 'bg-blue-100' if !notification.read %>">
          <div>
            <p class="text-lg">
              <%= link_to notification.user.email, user_path(notification.user), class: "font-bold text-blue-600" %>
              <%= notification.notification_type %> your post
              <%= link_to notification.post.title,post_path(notification.post), class: "font-bold text-blue-600" %>
            </p>
            <p class="text-sm text-gray-500"><%= time_ago_in_words(notification.created_at) %> ago</p>
          </div>
          <% unless notification.read %>
            <span class="text-xs text-white bg-red-600 rounded-full px-2 py-1">New</span>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>