<!-- app/views/users/show.html.erb -->
<div class="container mx-auto mt-8" style="width: 80%;">
  <div class="card bg-white shadow-xl rounded-3xl p-8">
    <h1 class="text-3xl font-bold mb-6 text-center text-blue-600">Profile</h1>
    <div class="prose lg:prose-xl mb-6 text-lg">
      <div class="text-center">
        <p class="text-xl font-bold"><%= @user.followings_count %></p>
        <p class="text-gray-600">フォロー中</p>
      </div>
      <div class="text-center">
        <p class="text-xl font-bold"><%= @user.followers_count %></p>
        <p class="text-gray-600">フォロワー</p>
      </div>
      <% if @user.avatar.present? %>
        <%= image_tag @user.avatar.url, alt: "Avatar", class: "w-24 h-24 rounded-full bg-gray-200 mr-4" %>
      <% end %>
      <p>Email: <%= @user.email %></p>
      <p>Registered at: <%= l @user.created_at %></p>
    </div>
    <% if @user != current_user %>
      <% if current_user.following?(@user) %>
        <%= button_to 'フォロー中', relationship_path(user_id: current_user.active_relationships.find_by(followed_id: @user.id)) , method: :delete , class: 'btn btn-danger' %>
      <% else %>
        <%= button_to 'フォローする', relationships_path(user_id: @user.id) , method: :post , class: 'btn btn-primary' %>
      <% end %>
    <% end %>
    <h2 class="text-2xl font-semibold mb-4">過去の投稿</h2>
    <div class="space-y-4">
      <% @posts.each do |post| %>
        <div class="card bg-white shadow-md rounded-xl p-6">
          <h3 class="text-xl font-semibold mb-2"><%= link_to post.title, post_path(post) %></h3>
          <p class="text-gray-700 mb-4"><%= post.body.truncate(100) %></p>
          <div class="text-sm text-gray-500">
            <%= l post.created_at  %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="text-center mt-4">
      <%= link_to '編集', edit_user_path(@user), class: 'btn btn-primary' %>
    </div>
  </div>
</div>
